<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Login Callback</title>
  </head>
  <body>
    <script>
      <% if (cookieData) { %>
        window.opener.postMessage({ status: 'success', cookieData: '<%= cookieData %>' }, '<%= clientOrigin %>');
      <% } else { %>
        window.opener.postMessage({ status: 'error' }, '<%= clientOrigin %>');
      <% } %>
      window.close();
    </script>
    <p>
      <% if (cookieData) { %>
        Login successful. You can close this window.
      <% } else { %>
        Login failed. You can close this window.
      <% } %>
    </p>
  </body>
</html>
